page-about {
    ion-header{
        color: black;
        background: $header-bg-color;
        ion-navbar{
            color: black;
        }
    }
    ion-content{

        ion-list{
            ion-item{
                ion-thumbnail{
                    img{
                        border-radius: 5px;
                        border: solid 1px lightgrey;
                    }
                }
            }
        }
    }
}
